    
    
    <header class="section-header">
    <nav class="navbar navbar-expand-lg navbar-light backColorHead-BCH">
      <div class="container col-lg-12 " >
        

        <div class="collapse navbar-collapse " id="navbarTop">
         
          <div class="navbar-nav ml-auto">  
            <div class="nav-item  color-chart2"><a href="#" class="nav-link"></a>  </div>  
            <div class="nav-item  color-chart"><a href="#" class="nav-link"></a> </div>                
            <div class="nav-item  cuadrado-1"><a href="#" class="nav-link"></a>   </div>
            <div class="nav-item  cuadrado-2"><a href="#" class="nav-link"></a>  </div>
            <div class="nav-item  cuadrado-3"><a href="#" class="nav-link"></a>  </div>
            
          </div> <!-- navbar-nav.// -->

          <div class="navbar-nav ol-md-offset-8">
            <div class="nav-item"><a href="#" class="nav-link" > <h2 class= "letter">A</h2></a></div>
            <div class="nav-item"><a href="#" class="nav-link" > <h2 class= "letter">+</h2></a></div>
            <div class="nav-item "><a href="#" class="nav-link margin-end" > <h2 class= "letter">-</h2></a></div>
          </div> <!-- navbar-nav.// -->
        </div> <!-- collapse.// -->
      </div>
    </nav>

    <section class="header-main shadow-sm backColor-BCH ">
      <div>
          <div class="row col-lg-8 col-sm-8 ">
            <div class="col-lg-4 col-sm-4 margin-start">
              <a  href="#"><img class="imagesWidht " src="images/logos/logoReal.png" alt="alibaba style e-commerce html template file" title="alibaba e-commerce html css theme"></a>
            </div>

            <div class="vl">           
            </div>

            <div class="margin-title">
               <span><h3 class="letter-title">Banca Personas</h3></span>
            </div>
          </div>      
      </div> <!-- container.// -->
    </section> <!-- header-main .// -->
    </header> <!-- section-header.// -->
    <!-- ========================= SECTION PRINCIPAL  ========================= -->
    <section class="section-request bg padding-y-sm">
    <div>
          <div class="row col-lg-12 col-sm-12 ">
            <div class="col-lg-8 col-sm-8 ">
              <div class="margin-start">
                 <p ><h1 class="letter-row"> Aporte Fundación Teletón</h1></p>
                  <p ><h3 class="letter-row"> Para realizar tu aporte con Tarjeta de Débito o Tarjeta de Crédito emitidas en Chile, completa la siguiente información.</h3></p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
               <a  href="#"><img class="imagesWidht " src="images/logos/logoTeleton.png" alt="alibaba style e-commerce html template file" title="alibaba e-commerce html css theme"></a>
            </div>
          </div> 




          <div class="row col-lg-12 col-sm-12 marginBlock">
            <div class="col-lg-4 col-sm-4 ">
              <div class="margin-start">  
                 <form id="formPrincipal">
                  <div class="form-group">
                    <p><h5 class="letter-row2"> Aporte a nombre de:</h5></p>
                    <input type="text" class="form-control" id="labelAporte"  placeholder="Ingresa nombre" required>                
                  </div>
                  <div class="form-group">
                    <p><h5 class="letter-row2"> Monto del Aporte (pesos)</h5></p>
                    <input type="number" class="form-control" id="montoAporte" placeholder="Ingresa monto" required>
                  </div>
                  <button type="submit" id="btnPrincipal"class="btn btn-primary">Aceptar</button>
                </form>
              </div>
            </div>

            <div class="col-lg-6 col-sm-6">
              <p><h4 > <strong>Yo me comprometo</strong></h4></p>        
              <p><h5 > <strong>Fundación Teletón </strong>quiere estar conectado contigo e informarte qué hacemos con tu aporte. Esta información <strong>no es obligatoria de llenar</strong></h5></p>
              <div class="row">
                <div class="col-lg-6 com-sm-6">
                <div class="form-group">
                    <p><h5 class="letter-row2"> RUT:</h5></p>
                    <input type="text" class="form-control" id="labelRut" placeholder="Ingresa RUT">
                </div>
              </div>
              <div class="col-lg-6 com-sm-6">
                <div class="form-group">
                    <p><h5 class="letter-row2"> E-mail:</h5></p>
                    <input type="email" class="form-control" id="labelEmail" placeholder="Ingresa tu E-mail">
                </div>
              </div>
              </div>
              

            </div>



            <div class="col-lg-2 col-sm-2">
               <a  href="#"><img class="imagesWidht" src="images/logos/logoTeleton2.png" alt="alibaba style e-commerce html template file" title="alibaba e-commerce html css theme"></a>
            </div>
          </div> 

      </div> <!-- container.// -->
    </section>

    
    <!-- ========================= PRINCIPAL END // ========================= -->

