    
    
    <header class="section-header">
    {{!-- <nav class="navbar navbar-expand-lg navbar-light backColorHead-BCH">
      <div class="container col-lg-12 " >
        

        <div class="collapse navbar-collapse " id="navbarTop">
         
          <div class="navbar-nav ml-auto">  
            <div class="nav-item  color-chart2"><a href="#" class="nav-link"></a>  </div>  
            <div class="nav-item  color-chart"><a href="#" class="nav-link"></a> </div>                
            <div class="nav-item  cuadrado-1"><a href="#" class="nav-link"></a>   </div>
            <div class="nav-item  cuadrado-2"><a href="#" class="nav-link"></a>  </div>
            <div class="nav-item  cuadrado-3"><a href="#" class="nav-link"></a>  </div>
            
          </div> <!-- navbar-nav.// -->

          <div class="navbar-nav ol-md-offset-8">
            <div class="nav-item"><a href="#" class="nav-link" > <h2 class= "letter">A</h2></a></div>
            <div class="nav-item"><a href="#" class="nav-link" > <h2 class= "letter">+</h2></a></div>
            <div class="nav-item "><a href="#" class="nav-link margin-end" > <h2 class= "letter">-</h2></a></div>
          </div> <!-- navbar-nav.// -->
        </div> <!-- collapse.// -->
      </div>
    </nav> --}}

    
      <div class=" backColor-BCH ">
          <div class="row col-lg-8 col-md-8 ">
            <div class="col-lg-4  margin-start imagesPr">
              <a  href="#"><img class="imagesWidht " src="images/logos/logoReal.png" alt="alibaba style e-commerce html template file" title="alibaba e-commerce html css theme"></a>
            </div>

            <div class="vl col-xs-1">           
            </div>

            <div class="margin-title col-lg-3 col-md-3 col-sm-12 col-xs-3">
               <span><h3 class="letter-title">Banca Personas</h3></span>
            </div>
          </div>      
      </div> <!-- container.// -->
   
    </header> <!-- section-header.// -->
    <!-- ========================= SECTION PRINCIPAL  ========================= -->
    <section class="section-request  padding-y-sm  fontColor">
    <div >
          <div class="row col-lg-12 col-md-12 ">
            <div class="col-lg-8 col-md-8 ">
              <div class="margin-start">
                 <p ><h2 class="letter-row letter-rowTitle">Aporte Fundación Teletón</h2></p>
                  <p ><h4 class="letter-row"> Para realizar tu aporte con Tarjeta de Débito o Tarjeta de Crédito emitidas en Chile, completa la siguiente información.</h3></p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
               <a  href="#"><img class="imagesWidht " src="images/logos/logoTeleton.png" alt="alibaba style e-commerce html template file" title="alibaba e-commerce html css theme"></a>
            </div>
          </div> 

          <div class="row col-lg-12 col-md-12">
            <div class="col-lg-4 col-md-4 ">
              <div class="margin-start">  
                 <form action= "/sucessful" method="get" id="formPrincipal">
                  <div class="form-group">
                    <p><h6 class="letter-row2"> Aporte a nombre de:</h6></p>
                    <input type="text" class="form-control" id="labelAporte"  placeholder="Ingresa nombre" required>                
                  </div>
                  <div class="form-group">
                    <p><h6 class="letter-row2"> Monto del Aporte (pesos)</h5></p>
                    <input type="number" class="form-control" id="montoAporte" placeholder="Ingresa monto" required>
                  </div>
                  <button type="submit" id="btnPrincipal"class="btn btn-primary">Aceptar</button>
                </form>
              </div>
            </div>

            <div class="col-lg-5 col-md-5 fontColorDeails">
              <p><h4 > <i class= "title">Yo me comprometo</i></h4></p>        
              <p><h5 > <strong>Fundación Teletón </strong>quiere estar conectado contigo e informarte qué hacemos con tu aporte. Esta información <strong>no es obligatoria de llenar</strong></h5></p>
              <div class="row">
                <div class="col-lg-6 com-sm-6">
                <div class="form-group">
                    <p><h5 class="letter-row2"> RUT:</h5></p>
                    <input type="text" class="form-control" id="labelRut" placeholder="Ingresa RUT">
                </div>
              </div>
              <div class="col-lg-6 com-sm-6">
                <div class="form-group">
                    <p><h5 class="letter-row2"> E-mail:</h5></p>
                    <input type="email" class="form-control" id="labelEmail" placeholder="Ingresa tu E-mail">
                </div>
              </div>
              </div>
            </div>



            <div class="col-lg-2 col-md-2 fontColorDeails">
               <a  href="#"><img class="imagesWidht2" src="images/logos/logoTeleton2.png" alt="alibaba style e-commerce html template file" title="alibaba e-commerce html css theme"></a>
            </div>
          </div> 

      </div> <!-- container.// -->
    </section>
    <script>

      $(document).ready(function(){
        $("#montoAporte").on({
              "focus": function (event) {
                  $(event.target).select();
              },
              "keyup": function (event) {
                  $(event.target).val(function (index, value ) {
                      return value.replace(/\D/g, "")
                                  .replace(/([0-9])([0-9]{2})$/, '$1.$2')
                                  .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ",");
                  });
              }
          });
      });
      

    
    </script>

    
    <!-- ========================= PRINCIPAL END // ========================= -->

