    
    
<header class="section-header">
    {{!-- <nav class="navbar navbar-expand-lg navbar-light backColorHead-BCH">
      <div class="container col-lg-12 " >
        

        <div class="collapse navbar-collapse " id="navbarTop">
         
          <div class="navbar-nav ml-auto">  
            <div class="nav-item  color-chart2"><a href="#" class="nav-link"></a>  </div>  
            <div class="nav-item  color-chart"><a href="#" class="nav-link"></a> </div>                
            <div class="nav-item  cuadrado-1"><a href="#" class="nav-link"></a>   </div>
            <div class="nav-item  cuadrado-2"><a href="#" class="nav-link"></a>  </div>
            <div class="nav-item  cuadrado-3"><a href="#" class="nav-link"></a>  </div>
            
          </div> <!-- navbar-nav.// -->

          <div class="navbar-nav ol-md-offset-8">
            <div class="nav-item"><a href="#" class="nav-link" > <h2 class= "letter">A</h2></a></div>
            <div class="nav-item"><a href="#" class="nav-link" > <h2 class= "letter">+</h2></a></div>
            <div class="nav-item "><a href="#" class="nav-link margin-end" > <h2 class= "letter">-</h2></a></div>
          </div> <!-- navbar-nav.// -->
        </div> <!-- collapse.// -->
      </div>
    </nav> --}}

    
      <div class=" backColor-BCH ">
        <div class="row">
            <div class="row col-lg-8 col-md-8 ">
            <div class="col-lg-4  margin-start imagesPr">
              <a  href="#"><img class="imagesWidht " src="images/logos/logoReal.png" alt="alibaba style e-commerce html template file" title="alibaba e-commerce html css theme"></a>
            </div>

            <div class="vl col-xs-1">           
            </div>

            <div class="margin-title col-lg-4 centerHead">
               <span><h3 class="letter-title">Banca Personas</h3></span>
            </div>
          </div> 

          <div class="col-lg-2 centerHead headMobile">
            <label class="label"><h6>Aporte desde Chile</h6></label>
          </div>

          <div class="col-lg-2 centerHead headMobile">
            <label class="label2"><h6>Aporte desde el Extranjero</h6></label>
          </div>
        </div>

      </div> <!-- container.// -->
   
    </header> <!-- section-header.// -->
    <!-- ========================= SECTION PRINCIPAL  ========================= -->
    <section class="section-request bg padding-y-sm">
    <div>
          <div class="row col-lg-12 col-sm-12 marginInitial">
            <div class="col-lg-8 col-sm-8 ">
              <div class="margin-start">
                 <p ><h1 class="letter-row"> Felicidades</h1></p>
                  <p ><h3 class="letter-row"> Gracias por su aporte a la Fundación Teletón</h3></p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
               <a  href="#"><img class="imagesWidht " src="images/logos/logoTeleton.png" alt="alibaba style e-commerce html template file" title="alibaba e-commerce html css theme"></a>
            </div>
          </div> 

    </div> <!-- container.// -->
    </section>

    
    <!-- ========================= PRINCIPAL END // ========================= -->

<footer class="footerMobile">
      <div class="row">
        <a  href="#"><img class="" src="images/logos/footerMobile.png"></a>
      </div>
</footer>